
.header {
    background: #131313;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.name {
    color: #E3B873;
    margin-right: 100px;
    margin-left: 50px;
    text-decoration: none;
}

.home {
    margin-right: 50px;
    color: #131313;
    margin-left: 25px;
    text-decoration: none;
}

.projects {
    color: #131313;
    margin-right: 50px;
    text-decoration: none;
}

.measurement {
    color: #131313;
    margin-right: 50px;
    text-decoration: none;
}

.team {
    color: #131313;
    margin-right: 50px;
    text-decoration: none;
}


.reviews {
    color: #131313;
    margin-right: 50px;
    text-decoration: none;
}


.contracts {
    color: #131313;
    margin-right: 50px;
    text-decoration: none;
}


.number {
    color: #E3B873;
    text-align: right;
    margin-right: 50px;
    text-decoration: none;
}


.sub {
    background: #131313;
    color: #131313;
}